body {
	background-color: #f7e8d3 !important;
	font-family: 'Montserrat' !important;
}

.text-justify {
	text-align: justify;
}

.fondo-hole {
	background-image: url("assets/hole.jpg") no-repeat;
	background-size: cover;
	display: block;
}

#div_hole {
    position: relative;
    display: inline-block;
    text-align: center;
}

#button_hole_yes {
    position: absolute;
    bottom: 20px;
    left: 130px;
    width: 50px !important;
    height: 30px !important;
}

#button_hole_no {
    position: absolute;
    bottom: 20px;
    right: 130px;
    width: 50px !important;
    height: 30px !important;
}