body {
	background-color: #f7e8d3 !important;
	font-family: 'Montserrat' !important;
}

.text-justify {
	text-align: justify;
}

.fondo-hole {
	background-image: url("assets/hole.jpg") no-repeat;
	background-size: cover;
	display: block;
}